<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    {% endblock %}

</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<!-- PLUGINS CSS STYLE -->
<!-- <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
<!-- Bootstrap -->
<link rel="stylesheet" href="/frontend/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/frontend/plugins/bootstrap/css/bootstrap-slider.css">
<!-- Font Awesome -->
<link href="/frontend/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Owl Carousel -->
<link href="/frontend/plugins/slick-carousel/slick/slick.css" rel="stylesheet">
<link href="/frontend/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
<!-- Fancy Box -->
<link href="/frontend/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
<link href="/frontend/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="/frontend/css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {# render Bootstrap nav #}
        {{ knp_menu_render('main', {'currentClass': 'active'}) }}
    </div>
</nav>

{% block body %}
    <div class="container">
        {# pass an array argument to get the messages of those types  #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}

    <!-- JAVASCRIPTS -->
    <script src="/frontend/plugins/jQuery/jquery.min.js"></script>
    <script src="/frontend/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/frontend/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/frontend/plugins/bootstrap/js/bootstrap-slider.js"></script>
    <!-- tether js -->
    <script src="/frontend/plugins/tether/js/tether.min.js"></script>
    <script src="/frontend/plugins/raty/jquery.raty-fa.js"></script>
    <script src="/frontend/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="/frontend/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/frontend/plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/frontend/plugins/smoothscroll/SmoothScroll.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/frontend/js/script.js"></script>
{% endblock %}
</body>
</html>
