<ul class="list-inline justify-content-center">
    <li class="list-inline-item">
        <a href="{{ path('car_show', {'id': car.id}) }}"
           data-toggle="tooltip" data-placement="top"
           class="view"
           data-original-title="view"><i class="glyphicon glyphicon-eye-open"></i></a>
    </li>
    <li class="list-inline-item">
        <a href="{{ path('car_edit', {'id': car.id}) }}"
           data-toggle="tooltip" data-placement="top"
           class="edit"
           data-original-title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </li>
    <li class="list-inline-item">
        <a href="{{ path('car_promote', {'id': car.id}) }}"
           data-toggle="tooltip" data-placement="top"
           class="delete"
           data-original-title="promote"><i class="glyphicon glyphicon-arrow-up"></i></a>
    </li>
</ul>
